<div class="l-devise">
  <div class="l-devise_wrap">

    <h1>MAiASA</h1>  

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "l-devise_wrap_form" }) do |f| %>
      <h3>新規登録フォーム</h3>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="c-input field">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="c-input field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="c-input field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="c-input field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="l-devise_wrap_form_btn">
        <div class="c-button actions">
          <%= f.submit "アカウント作成", class: "c-button" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
