<%= month_calendar events: @tasks do |date, tasks| %>
  <div class="date"><%= date.strftime("%e") %></div>
  <% tasks.each do |task| %>
    <div class="edit_task_modal_btn" 
          data-task-id="<%= task.id %>"
          data-task-title="<%= task.title %>"
          data-task-info="<%= task.info %>"
          data-task-start_time="<%= task.start_time %>"
          data-task-notification="<%= task.notification %>" >
      <div class="c-task">
        <p class="c-task_title"><%= task.title %></p>
        <div class="delete_task_modal_btn c-task_delete">
          <i class="fa-solid fa-trash-can"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>