<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<div id="add_task_modal_btn">
  タスクを追加
</div>


<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date %>

  <% tasks.each do |task| %>
    <div class="edit_task_modal_btn" 
      data-task-id="<%= task.id %>"
      data-task-title="<%= task.title %>"
      data-task-info="<%= task.info %>"
      data-task-start_time="<%= task.start_time %>"
      data-task-notification="<%= task.notification %>" >
      <div style="border: 2px solid gray">
        <p><%= task.title %></p>
        <p><%= task.info %></p>
        <div class="delete_task_modal_btn">
          削除
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<br><br><br>

<%= render 'tasks/modal/add_task_modal' %>
<%= render 'tasks/modal/edit_task_modal' %>
<%= render 'tasks/modal/delete_task_modal' %>
<%= render 'tasks/add_task_modal_submit_btn' %>
<%= render 'tasks/edit_task_modal_submit_btn' %>
<%= render 'tasks/delete_task_modal_submit_btn' %>

<%= javascript_pack_tag 'tasks/add_task_modal_btn' %>
<%= javascript_pack_tag 'tasks/delete_task_modal_btn' %>
<%= javascript_pack_tag 'tasks/edit_task_modal_btn' %>
<%= javascript_pack_tag 'common/cancel_btn' %>
