<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<div id="add_task_modal_btn">
  タスクを追加
</div>

<div id="task_index">
  <%= render 'tasks/partial/index', collection: @tasks %>
</div>

<br><br><br>

<%= render 'tasks/modal/add_task_modal' %>
<%= render 'tasks/modal/edit_task_modal' %>
<%= render 'tasks/modal/delete_task_modal' %>

<%= javascript_pack_tag 'tasks/add_task_modal_btn' %>
<%= javascript_pack_tag 'tasks/edit_task_modal_btn' %>
<%= javascript_pack_tag 'tasks/delete_task_modal_btn' %>
<%= javascript_pack_tag 'tasks/add_task_modal_submit_btn' %>
<%= javascript_pack_tag 'tasks/edit_task_modal_submit_btn' %>
<%= javascript_pack_tag 'tasks/delete_task_modal_submit_btn' %>
<%= javascript_pack_tag 'common/cancel_btn' %>
