<% @tasks.each do |task| %>
  <div class="edit_task_modal_btn" 
       data-task-id="<%= task.id %>"
       data-task-title="<%= task.title %>"
       data-task-info="<%= task.info %>"
       data-task-date="<%= task.date %>"
       data-task-start_time="<%= task.start_time %>"
       data-task-end_time="<%= task.end_time %>"
  >
    <div style="border: 2px solid gray">
      <p><%= task.title %></p>
      <p><%= task.info %></p>
    </div>
  </div>
<% end %>