<div class="l-devise">

  <h1>MAiASA</h1>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "l-devise_form" }) do |f| %>
    <div class="c-input field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="c-input field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    

    <div class="l-devise_form_btn">
      <div class="c-button actions">
        <%= f.submit "ログイン", class: "c-button" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
