<div class="modal" id="add_task_modal">

  <%= form_for @task, html: { class: "modal_form" } do |f| %>

    <div>新規タスク追加</div>
    
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>

    <%= f.label :info, '説明文' %>
    <%= f.text_area :info %>

    <button type="button" id="cancel_btn">キャンセル</button>
    <button type="submit" id="add_task_modal_submit_btn">追加</button>
  <% end %>
</div>