<div class="modal" id="edit_task_modal" data-edit-task-id="">

  <%= form_for @task, html: { class: "modal_form" } do |f| %>

    <div>タスク編集</div>
    
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, id: "edit_task_title" %>

    <%= f.label :info, '説明文' %>
    <%= f.text_area :info, id: "edit_task_info" %>

    <%= f.label :start_time, '日' %>
    <%= f.date_field :start_time, id: "edit_task_start_time" %>

    <%= f.label :notification, '通知' %>
    <%= f.check_box :notification, id: "edit_task_notification" %>

    <button type="button" id="cancel_btn">キャンセル</button>
    <%= f.submit id: "edit_task_modal_submit_btn" %>
  <% end %>
</div>