<div class="modal" id="edit_task_modal">

  <%= form_for @task, html: { class: "modal_form" }  do |f| %>

    <div>タスクの編集</div>

    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, id: "edit_task_title" %>

    <%= f.label :info, '説明文' %>
    <%= f.text_area :info, id: "edit_task_info" %>
    
    <button type="button" class="cancel_btn">キャンセル</button>
    <button type="submit" id="edit_task_modal_submit_btn">保存</button>
  <% end %>
</div>