<!DOCTYPE html>
<html>
  <head>
    <title>MAiASA | 毎朝、登録した予定をLINEのプッシュメッセージでお知らせします。</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <% if controller.controller_name == 'sessions' || controller.controller_name == 'registrations' %>
      <%= render 'devise/shared/background' %>
    <% elsif %>
      <%= render 'layouts/partial/sidebar' %>
    <% end %>

    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= render 'layouts/modal/logout_modal' %>

  </body>
</html>
