<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleNotificationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <header>
    </header>
    <%= render 'layouts/partial/sidebar' %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= render 'layouts/modal/logout_modal' %>

    <%= javascript_pack_tag 'common/logout_modal_btn' %>
    <%= javascript_pack_tag 'common/cancel_btn' %>
  </body>
</html>
